body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #010508;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px; 
}

.re {
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}


header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: right;
}


nav {
    padding: 1rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
}

nav ul li {
    margin: 0 1rem;
}

nav a {
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    background-color: black;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    transition: background-image 0.3s ease;
}

nav a:hover {
    color: #ccc;
    background-image: linear-gradient(to bottom, #666, #555);
}

nav a:focus,
nav a:active {
    outline: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

/* Content section styles */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.types,
.upload-section,
.file-list-section {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 70px;
    margin-bottom: 35px;
    text-align: center;
    width: 90%; 
    max-width: 600px; 
    margin: 0 auto; 
}


.custom-file-label {
    background-color: #f8f9fa;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}

#fileInput {
    display: none;
}

button {
    padding: 10px 20px;
    background-color: #109720;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #000000;
}

#shareableLink {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #25a734;
    color: #fff;
}

#shareableLink a {
    color: #fff;
    text-decoration: none;
}

#shareableLink a:hover {
    text-decoration: underline;
}


@media screen and (max-width: 768px) {
    .types,
    .upload-section,
    .file-list-section {
        width: 90%; 
}

@media screen and (max-width: 480px) {
    .types,
    .upload-section,
    .file-list-section {
        width: 100%; 
    }
}
}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;
    transition: opacity 3s, visibility 4s;
  }
  
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #009578;
    border-radius: 50%;
    animation: loading 5s ease infinite;
  }
  
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }
  